<div class="container">
  <h1%>Nueva municipio:</h1>
  <div class="row">
    <div class="col-sm-2 offset-sm-8">
      <%= form_for @state do |f| %>
      <div class="form-group">
        <%= f.label :code_number, "Codigo del municipio" %>
        <%= f.text_field :code_number, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :name,"Nombre del municipio" %>
        <%= f.text_field :name,class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :current_state,"Estado" %>
        <%= f.select :current_state, options_for_select(state_status_options), {}, class: "form-control" %>
      </div>
        <%= f.submit%>
      <% end %>
    </div>
    </div>
  </div>
</div>


