<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-8">
      <h1>Regiones del pais </h1>  
    </div>   
    <div class="col-md-4 offset-md-4">
      <button class="btn ">
        <a href="/states/new"> Crea una municipio</a>
      </button>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <th> Codigo:</th>
        <th> Nombre:</th>
        <th> Estado:</th>
        <th> Editar </th>
        <th> Eliminar</th>
      </thead>
      <tbody>
        <% @states.each do |state| %>
        <tr>
          <td> <%= state.code_number %></td>
          <td> <%= link_to "#{state.name}", state_path(state.id) %></td>
          <td> <%= state.current_state %></td>
          <td> <%= link_to "Editar municipio", edit_state_path(state.id)%></td>
          <td> <%= link_to "Borrar municipio", state_path(state.id), method:"delete"%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>