<div class="container">
  <h1  %>
      Nueva región:</h1>
  <div class="row">
    <div class="col-sm-2 offset-sm-8">
      <%= form_for @region do |f| %>
      <div class="form-group">
        <%= f.label :code_number, "Codigo de la region" %>
        <%= f.text_field :code_number, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :name,"Nombre de la región" %>
        <%= f.text_field :name,class:"form-control" %>
      </div>
        <%= f.submit%>
      <% end %>
    </div>
    </div>
  </div>
</div>
